<h1>Contact</h1>
<div class="contact">
<%= flash[:notice] %>
<p>Check out our blog at djartsco.org or like the Daejeon Arts Collective on Facebook</p>

<%= form_tag("/static_pages/thank_you") do %>
<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
			<%=label_tag :name, "Name" %>
			<%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
		</div>
		<div class="form-group">
			<%= label_tag :email, "Email Address" %>
			<%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
		</div>
		<div class="form-group">
			<%= label_tag :message, "Message" %>
			<%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
			<%= submit_tag "Send" %>
		</div>
	</div>
</div>
<% end %>
</div>
