<h1 class="mtop80 center lg-heading">Contact</h1>
<div class="contact">
<%= flash[:notice] %>
<center>
	<p class="mtop20">Check out our blog at djartsco.org or 'like' Daejeon Arts Collective on Facebook</p>
    <a href="www.djartsco.org"><%= image_tag("wordpress.png") %></a>
	&nbsp; &nbsp; &nbsp;
	<a href="https://www.facebook.com/DaejeonArtsCollective/?fref=ts" ><%= image_tag("facebook.png") %></a>
</center>
<br>

<%= form_tag("/static_pages/thank_you") do %>
<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
			<%=label_tag :name, "Name" %>
			<%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
		</div>
		<div class="form-group">
			<%= label_tag :email, "Email Address" %>
			<%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
		</div>
		<div class="form-group">
			<%= label_tag :message, "Message" %>
			<%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
			<%= submit_tag "Send", :class => "submit btn btn-default mtop20" %>
		</div>
	</div>
</div>
<% end %>
</div>
