<h1 class="center lg-heading">Forgot your password?</h1>
<div class="col-lg-4 col-md-3 col-xs-1">&nbsp;</div>
<div class="col-lg-4 col-md-6 col-xs-10">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<br>
<br>
  <div class="field">
    <%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder =>"Email address" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", :class => "btn btn-primary btn-block active" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
<div class="col-lg-4 col-md-3 col-xs-1">&nbsp;</div>