<body>
<div id="wrapper">
<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <h3><%= product.name %></h3>
        <%= image_tag(product.image_url, class: "img-responsive") %>
        <p><%= product.description %></p>
        <p><%= product.colour %></p>
        <p><%= product.price %></p>
        <p><%= link_to 'Show', product %></p>
        <p><%= link_to 'Edit', edit_product_path(product) %></p>
        <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div><!-- /col -->
    <% end %>
  </div>
</div>

<%= link_to 'New Product', new_product_path %>
</div>
</body>