<div class="row mtop20">
  <div class="col-lg-9 col-md-8 col-xs-10">		
	<%= image_tag(@product.image_url, class: "img-responsive product_image img-zoom", data_zoom_image: @product.image_url) %>
  </div>
	<h1 class="sm-heading"><%= @product.name %></h1>
	<p class="product"><%= @product.description %></p>
	<p class="product"><strong>Colour:</strong><%= @product.colour %></p>
	<p class="product"><strong>Price:</strong><%= number_to_currency(@product.price) %></p>
	<%= form_tag "/payments" do %>
	<%= hidden_field_tag "product_id", @product.id %>
  	<%= render partial: "shared/stripe_checkout_button" %>
<% end %>

		
	<div class="center">
			<% if can? :update, @product %>
			<%= link_to 'Edit', edit_product_path(@product) %> |
			<% end %>
			<% if can? :destroy, @product %>
			<%= link_to 'Destroy', product_path(@product), method: :delete, data: { confirm: 'Are you sure?' } %> |
			<% end %>
			<%= link_to 'Back', products_path %>
	</div>
  
</div>
<div class="container mtop20">
	<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"> </div> </p>
    <%= render partial: 'comments' %>
	<%= render partial: 'new_comment' %>
</div>





